{% extends 'nav.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Makers</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'HM.css' %}">

    
</head>

<body>
        {% block mymessage %}
       
<div class="mcontent">
        <div class="mcusine">
            <h1>Available Makers</h1>
        </div>
        <div class="mcontainer">
                {% for i in chefSpecObj %}
                <div class="mcard1">
                        
                       
                        <a href="{%url 'dailyMenu' i.pk%}?sendSpec={{ sendSpec }}">
                                <img src="/foodApp/static/MAKER1.png" alt=""></img>
                              
                                
                    <p><h1>{{i.chefForeign.cf_first_name}}</h1></p>
                    <div class="mstar">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                    </div>
                    
                    <div class="mcity"><h2>{{i.chefLocality}}</h2>
                    </div>
                        </a>
                    
                    
                     
                </div>
                {% endfor %}
            
        </div>
</div>

{% endblock %}
</body>

</html>