{%extends 'nav.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HM_Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/foodApp/static/HM.css">

</head>
{%block mymessage%}
<body class="login_body">
   
    <!-- <nav >
        <div class="navout">
            <button class="hm_logo"><img  src="home made logo.png"></button>
            
            <button><a href=""><i class="fa-solid fa-magnifying-glass"></i>Search</a></button>
                <button><a href="home_made.html"><i class="fa-solid fa-house"></i>Home</a></button>
                <button><a href="HM_LOGIN.html"><i class="fa-solid fa-user"></i>Login</a></button>
                <button><a href=""><i class="fa-solid fa-users"></i>Join Us</a></button>
                <button><a href=""><i class="fa-solid fa-cart-shopping"></i>Cart</a></button>
        
        </div>
        
    </nav> -->
    <div class="outer">
        <form method="POST" class="form">
            {%csrf_token%}
            <!-- <div class="form" > -->
            <div class="login">
                <h1>Login</h1>
                
            </div>
        
                {%if 'msg'%}
                <div class="incorrect">
                <div class="alert alert-primary inc" role="alert">
                  {{msg}}
                </div>
                </div>
                {%endif%}
           
            <div class="inner">
                
                <div class="input">
                    <label for="leid">Email Id: </label>
                    <input type="email" placeholder="Enter Email Id" id="leid" name="lemail">
                </div>
                <div class="input">
                    <label for="pwd">Password: </label>
                    <input type="password" placeholder="Enter Passward" id="pwd" name="lpwd">
                </div>
       
            </div>
            <div class="input1">
                <button type="submit">Submit</button>
                <button><a href="{%url 'register'%}">Register</a></button>
                <div id="displogin"></div>

        </div>
        <!-- </form> -->
        
    </div>

    {%endblock%}
    <!-- <script src="HMscript.js"></script> -->
    
</body>
</html>