{%extends 'nav.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/foodApp/static/HM.css">
  
</head>
{%block mymessage%}
<body>
   
    <!-- <div class="location"> -->
    
        <!-- <div> -->
        
    <form id="form">
        {%if getcust%}
        <h1>Delivery Address</h1>
        {%endif%}
        <label for="pincode">pincode</label>
        <input name="pin" type="number" id="pincode" placeholder="enter pincode">
        <button type="submit" class="sub">submit</button>
    </form>
    <form method="POST"class="formloc">
        {%csrf_token%}
        <!-- <div> -->
        <!-- <label for="Block">block</label>
        <select name="" id="Block"><option value="">select block</option></select> -->
        <label for="Name">Nearby Locality</label>
        <select name="locality" id="Name"><option value="">select Nearby Locality</option></select>
        <label for="Circle">State</label>
        <select name="state" id="Circle"><option value="">select State</option></select>
        <label for="District">District</label>
        <select name="district" id="District"><option value="">select District</option></select>
        <label for="Division">Division</label>
        <select name="city" id="Division"><option value="">Select City</option></select>
            <button type="submit">Submit</button>
   </form>


    
   <script src="/foodApp/static/location.js"></script>
  
</body>
{% endblock %}
</html>